{% extends 'layouts/base.html' %}

{% block content %}

<h1>{{username}}</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae voluptatum quo iste atque accusantium inventore quibusdam eius natus accusamus provident vel, libero nam, necessitatibus dignissimos reiciendis id. Consectetur recusandae quas magni inventore! Necessitatibus sint facilis blanditiis aliquid corrupti! Suscipit numquam officiis ratione excepturi provident eligendi illo iure cupiditate tenetur harum. Unde molestiae ad iste vero exercitationem, ipsam nihil sit maiores aliquam numquam quibusdam illum perferendis. Voluptatum quam, exercitationem illum quia placeat id quasi commodi! Eaque, similique unde at itaque non explicabo ullam omnis culpa exercitationem laborum ducimus labore recusandae iste laboriosam inventore, vitae adipisci ex! Facilis nesciunt dolore magnam cum!</p>

{% endblock %}