{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}

<h1>{{title}}</h1>

<img src="{% static 'image.jpeg' %}" alt="" width="600">
<p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam optio illum facilis totam eos cumque voluptas at dolorum laborum, accusamus explicabo! Dicta laborum ducimus minima eveniet hic. Facere, minima quae.<br><br>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae ipsum quia possimus distinctio magnam animi saepe illum, cupiditate quidem molestiae doloremque at voluptatibus. Sequi obcaecati asperiores vitae et iste deleniti!
</p>

{% endblock %}